setLocal("0.0.0.0")

{{ if .webserver.active }}
webserver("0.0.0.0:8083")
setWebserverConfig({password="{{ .webserver.password }}", apiKey="{{ .webserver.apikey }}"})
{{ end }}


{{ range .defaults }}
newServer("{{.}}")
{{ end }}

{{ if .customize.active }}
includeDirectory("/share/{{ .customize.folder }}")
{{ end }}